:host {
  display: flex;
  flex-direction: column;
  width: 100%;

  .selected-date {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 0 0 50px;
    color: #fff;
    text-transform: capitalize;
    cursor: pointer;
  }

  .calendar {
    flex: 0 0 211px;
    max-height: 211px;
    transition: max-height 250ms;
    display: flex;
    flex-direction: column;

    &.collapsed {
      max-height: 0;
      overflow: hidden;
    }

    .header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      color: #D5E974;

      h1 {
        font-size: 20px;
      }
    }

    .calendars {
      width: 100%;
      overflow: hidden;
      position: relative;
      display: flex;
      flex-direction: column;

      .calendar {
        display: flex;
        flex-direction: row;
        color: #D5E974;
        justify-content: space-between;
        border-top: 1px solid #636466;
        margin-top: 5px;
        flex: 0 0 100%;
        transition: transform 250ms;
        position: absolute;
        width: 100%;

        .day-column {
          flex: 0 0 14%;
          display: flex;
          flex-direction: column;
          align-items: center;

          .cell {
            position: relative;
            display: flex;
            align-items: center;
            justify-content: center;
            flex: 0 0 30px;
            width: 30px;

            &.date {
              color: white;
              cursor: pointer;

              &.active {
                color: #000000;
                background: #D5E974;
                border-radius: 50%;

                .dot {
                  background-color: #000000;
                }
              }

              &.today {
                border: 1px solid #D5E974;
                border-radius: 50%;
              }

              .dot {
                position: absolute;
                height: 5px;
                width: 5px;
                bottom: 1px;
                border-radius: 50%;
                background-color: #D5E974;
              }
            }

            &.disabled {
              color: #636466;
            }
          }
        }
      }
    }
  }
}
